/*data*/

.classic_font{
	font-family: "Helvetica", "Arial", sans-serif;
	line-height: 1.5;
	padding: 1em 1em;
	margin: 20px 20px 20px 20px;
}

.align_center{
	text-align: center;
}

.hidden_overflow_y{
    overflow-y: hidden;
}

.table {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

td,
th {
	border: 1px solid #ddd;
	padding: 8px;
	font-weight: normal;
}

tr:nth-child(even) {
	background-color: #f2f2f2;
}

tr:hover {
	background-color: #ddd;
}

th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #1AA7EC;
	color: white;
}

thead th {
	top: 0;
	position: sticky;
}


#downloadButton {
	background-color: white;
	border: 2px solid #1AA7EC;
	border-radius: 4px;
	color: black;
	padding: 12px 30px;
	cursor: pointer;
	font-size: 20px;
	transition: all 0.2s ease-in-out;
}
/* Darker background on mouse-over */

#downloadButton:hover {
	background-color: #1AA7EC;
	color: white;
	/*RoyalBlue;
	box-shadow: 5px 12px 16px 0 rgba(0, 0, 0, 0.25), 0 17px 50px 0 rgba(0, 0, 0, 0.19);*/
}

/* Canvas*/
#timelineCanvas {
    position: absolute;
    top: 0;
    left: 0;
}

#formsBoardCanvas {
    position: absolute;
    left: 0;
}

#learningCanvas {
    position: absolute;
}

#scoreCanvas {
    position: absolute;
}

#targetCanvas {
    position: absolute;
}

/*Setting*/

.blue_background {
    background-color: #1AA7EC;
}

.transition_2{
    transition: all 0.2s ease-in-out;	
}

.margin{
	margin: 15px 0px;
}
.margin20{
	margin: 20px;
}
.margin100{
	margin: 100px 100px;
}
.hidden{
	display:none;
}

.pointer{
	cursor: pointer;
}

#after-login {
    display: block;
}

.field-password {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    transform: translate(-50%, -50%);
    background-color: white;
    height: 50px;
    width: 400px;
    align-items: center;
    border-radius: 5px;
    justify-content: space-between;
}

.commentText {
    color: rgb(107, 107, 107);
}

.BetweenElement {
    border-left: solid 0.5px;
    margin-top: 3px;
    margin-bottom: 3px;
    padding-left: 15px;
}

.password-form {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    transform: translate(-50%, -50%);
}

.password-form i {
    padding: 10px;
}

.LFloat{
	float: left;
}

.RFloat{
	float: right;
}

#input-password {
    background: none;
    border: none;
    flex: 1;
    height: 50px;
    width: 50px;
    outline: none;
}

#password-arrow {
    cursor: pointer;
}

#nbForms {
    margin: 2px 12px;
}

@keyframes shake {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    30% {
        transform: translate(-50%, -50%) rotate(5deg);
    }
    60% {
        transform: translate(-50%, -50%) rotate(-5deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
}

.loader {
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #3498db;
    width: 20px;
    height: 20px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
}

.border{
	border:double thick;
}

/* Safari */



@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


button {
    cursor: pointer;
    border-radius: 4px;
    padding: 10px 30px;
    font: 1em Ubuntu, sans-serif;
    background-color: #1AA7EC;
    color: black;
    border: 2px solid #1AA7EC;
}

pre {
    font: 1em Ubuntu, sans-serif;
}

button:disabled {
    opacity: 0.7;
	background-color: white;
}


button:enabled:hover {
    box-shadow: 5px 12px 16px 0 rgba(0, 0, 0, 0.25), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

button:disabled:hover {
    cursor: not-allowed;
}



.blackBG {
    /*display: none;*/
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*padding: 300px;*/
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.35);
}

.infoBox {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: whitesmoke;
    padding: 50px;
    /*padding-top: 70px;*/
    /*text-align: center;*/
    position: absolute;
    top: 50px;
    left: 50%;
    display: block;
    transform: translate(-50%, 0);
    margin-bottom: 50px;
}

.infoTitle {
    font-size: large;
    text-align: center;
    position: absolute;
    width: 150px;
    padding: 10px;
    top: 10px;
    left: 50%;
    display: block;
    transform: translate(-50%, -50%);
    background-color: #1AA7EC;
    color: white;
}

.infoDivButton {
    text-align: right;
}


input[type=range] {
    -webkit-appearance: none;
    margin: 18px 0;
    width: 100%;
}

input[type=range]:focus {
    outline: none;
}

/*CHROME*/

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    /*cursor: pointer;
    animate: 0.2s;*/
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    /*background: #58213b;*/
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    /*cursor: pointer;*/
    -webkit-appearance: none;
    margin-top: -14px;
}


/*FIREFOX*/

input[type=range]::-moz-range-track {
    width: 100%;
    height: 8.4px;
    /*cursor: pointer;
    animate: 0.2s;*/
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    /*background: yellow;*/
    background-size: 20px 5px;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}

input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    /*cursor: pointer;*/
}

input[type=range]::-ms-track {
    width: 100%;
    height: 8.4px;
    /*cursor: pointer;
    animate: 0.2s;*/
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: purple;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]::-ms-fill-upper {
    /*background: orange;*/
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    /*cursor: pointer;*/
}

/*tuto*/

.timelineCanvas {
    position: absolute;
    top: inherit;
    left: 0;
}

.formsBoardCanvas {
    position: absolute;
    left: 0;
}

.learningCanvas {
    position: absolute;
    left: 0;
}

.scoreCanvas {
    position: absolute;
    left: 0;
}

.targetCanvas {
    position: absolute;
    left: 0;
}

.board {
    position: relative;
}

.confetti {
	position: absolute;
	top: 0;
	left: 0;
}